body {
  margin: 0;
  background: #0f0f0f;
  font-family: Arial;
  color: white;
  height: 100vh;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.big-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.top {
  background: #1f1f1f;
}

.bottom {
  background: #2a2a2a;
}

.rank-item {
  background: #1f1f1f;
  margin: 8px;
  padding: 16px;
  border-radius: 12px;
  font-size: 28px; /* 🔥 3x większe */
  text-align: center;
}
